a{
    text-decoration: none;
}
header{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}
.logo{
    cursor: pointer;
}
.nav-area{
    list-style: none;
}
.nav-area li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-style: italic; 
    font-size: 16px;
    color: #eee;
}
.nav-area li a{
    transition: all .3s ease 0s;
    color: #fff;
}
.nav-area li a:hover{
    color: #eee;
} 

.Title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-style: italic; 
    font-size: 44px;
    color: #eee;
}

 
.buttonHome{ 
    display: inline-block;
    padding: 0.7em 1.7em; 
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.2em;  
    width: 150px;
    box-sizing: border-box;
    color: #FFFFFF;
    background: rgb(103,14,162);
    background: linear-gradient(90deg, rgba(103,14,162,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
    text-align: center;
    border-width: 0px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    transition: 0.3s all; 
    height: 50px;       
}
 
.buttonHome:hover{   
    opacity: 0.6;
    cursor: pointer;
}

.add{
    position: absolute;
    width: 50px;
    bottom: 40px;
    right: 75px;
    transition: 0.3s all;
}

.add:hover{
   opacity: 0.6;
   cursor: pointer;
}